<form action="/" method="post">
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name" />
    <br/>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name" />
    <br/>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email" />
    <br/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Create account" />
  </div>
</form>
<a href="/">Already have an account?</a>